#Predicting the how musch passesnger paid for thier tickerts using linear regression model.

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [2]:
import seaborn as sns

In [11]:
import seaborn as sns

# Load the Titanic dataset
titanic = sns.load_dataset('titanic')

# Select numeric columns
numeric_columns = titanic.select_dtypes(include=['float64', 'int64']).columns
numeric_data = titanic[numeric_columns]  # Use a new variable or titanic to store the numeric data

# Handle missing values
data = numeric_data.dropna()  # This removes rows with any missing values in the numeric columns

In [13]:
data

     survived  pclass   age  sibsp  parch     fare
0           0       3  22.0      1      0   7.2500
1           1       1  38.0      1      0  71.2833
2           1       3  26.0      0      0   7.9250
3           1       1  35.0      1      0  53.1000
4           0       3  35.0      0      0   8.0500
..        ...     ...   ...    ...    ...      ...
885         0       3  39.0      0      5  29.1250
886         0       2  27.0      0      0  13.0000
887         1       1  19.0      0      0  30.0000
889         1       1  26.0      0      0  30.0000
890         0       3  32.0      0      0   7.7500

[714 rows x 6 columns]

Noe spliting data into training and testing sets

In [16]:
# Define the target variable (what you want to predict)
X = data.drop('fare', axis=1)  # Features (independent variables)
y = data['fare']               # Target (dependent variable)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [17]:
# Initialize the model
model = LinearRegression()

# Fit the model
model.fit(X_train, y_train)

LinearRegression()

In [31]:
model.score(X_train, y_train)

0.44812264674613

In [18]:
# Predict fares on the testing set
y_pred = model.predict(X_test)

# Calculate and print the mean squared error
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse}")

Mean Squared Error: 3413.7478896967277

In [20]:
import numpy as np

rmse = np.sqrt(mse)
print(f"Root Mean Squared Error: {rmse}")

Root Mean Squared Error: 58.42728720124466

In [21]:
print(f"Minimum Fare: {y_test.min()}")
print(f"Maximum Fare: {y_test.max()}")
print(f"Mean Fare: {y_test.mean()}")
print(f"Median Fare: {y_test.median()}")

Minimum Fare: 0.0
Maximum Fare: 512.3292
Mean Fare: 33.161013986013984
Median Fare: 14.4542

In [30]:
import pandas as pd

# Example corrected data for a new passenger
new_passenger = pd.DataFrame({
    'pclass': [1],      # Example class of the passenger
    'sibsp': [1],       # Corrected feature name
    'parch': [0],       # Number of parents/children aboard
    'age': [21],        # Age of the passenger
    'survived': [0]     # Survival status (1 for survived, 0 for did not survive)
})

# Assuming `model` is your trained Linear Regression model
predicted_fare = model.predict(new_passenger)
print(f"Predicted Fare: {predicted_fare[0]}")

Predicted Fare: 220.5152465372094

C:\Users\sunrise\anaconda3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)